<div class="my-mod-jumbotron">
	<h2>Guest List</h2>
</div>


	<div class="include-me" ng-include src="'views/createWedding/navbarcreate.inc.html'"></div>

	<form name="newguestlistForm" class="form-horizontal">

		<div class="form-group">
			<label class="col-sm-2 control-label">Guest First Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="guestlist.firstname" placeholder="Guest's First Name">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Guest Last Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="guestlist.lastname" placeholder="Guest's Last Name">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Email:</label>
			<span class="label label-danger" ng-show="submitted && newguestlistForm.email.$error.required">Required!</span>
			<span class="label label-danger" ng-show="submitted && newguestlistForm.$error.email">Invalid email!</span>
			<div class="col-sm-9">
				<input type="email" class="form-control" ng-model="guestlist.email" placeholder="Guest email example: jane.doe@example.com" required>
			</div>
		</div>
<br/>
		<div class="form-group text-center">
			<div class="col-sm-12">
				<button class="btn btn-primary" ng-click="addGuestlistBtnClicked()">Add</button>
				<button class="btn btn-primary" ng-click="cancelGuestlistBtnClicked()">Cancel</button>
				<button class="btn btn-primary" ng-click="editGuestlistBtnClicked()">Edit</button>
			</div>
		</div>
	</form>
</div>